@font-face {
    src: url(..\Fonts/Showtime-FontZillion/Fonts/showtime.ttf);
    font-family: Showtime;
}

@font-face {
    src: url(..\Fonts/nikodecs/Nikodecs.otf);
    font-family: Nikodecs;
}

@font-face {
    src: url(..\Fonts/Opificio-FontZillion/Fonts/opificio.ttf);
    font-family: Opificio;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myCorporateBox {
    width: 100%;
    margin-top: 150px;
}

.corporateHeaderBox {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    border: 2px rgb(0, 125, 255) dotted;
    border-radius: 10px;
}

.mybox {
    border: 2px rgb(0, 125, 255) solid;
    width: 100%;
    height: 500px;
    border-radius: 0px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.movieCard-box {
    box-sizing: border-box;
    padding-top: 50px;
}

.movieCard-box a {
    text-decoration: none;
    color: black;
}

.ldMoreBtn {
    margin-left: 0px;
}

.movieCard-buttons {
    background-color: rgb(0, 125, 255);
    color: white;
    width: 100%;
    height: 27px;
    border: 0;
    border-radius: 5px;
    padding-bottom: 7px;
    margin-top: 5px;
    margin-bottom: 0;
}

.movieCard-buttons:hover {
    background-color: darkorange;
    color: white;
    width: 100%;
    border-radius: 5px;
    transition: 0.4s;
    transition-property: all;
    transform-style: preserve-3d;
    transition-delay: 0.2ms;
}

.ldMoreBtn button {
    color: white;
    background-color: forestgreen;
    border: 1px darkgreen;
    border-radius: 15px;
    width: 300px;
    height: 35px;
    outline: none;
    display: center;
    margin-left: 500px;
}

.ldMoreBtn button:hover {
    color: white;
    background-color: darkgreen;
    border: 1px darkgreen;
    border-radius: 15px;
    width: 300px;
    height: 35px;
    outline: none;
    display: center;
}

.ldMoreBtn button:hover::after,
.ldMoreBtn :active {
    outline: none;
}

.movies-nav {
    background-color: black;
    width: 100%;
    height: 75px;
    border: 1px black solid;
    border-radius: 7px;
    padding-top: 15px;
    font-size: 18px;
    border-bottom: 20px black solid;
    box-shadow: 5px 10px 10px gray;
}

.movies-nav span {
    color: white;
    font-size: 30px;
    margin-right: 80px;
    margin-left: 10px;
    padding-top: 10px;
}

.movies-nav li button {
    background-color: black;
    color: white;
    outline: none;
    height: 55px;
    margin: 0;
    border-radius: 2px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.movies-nav li button:hover,
.movies-nav li button:active {
    background-color: darkviolet;
    color: white;
    outline: none;
    transition: 0.7s;
    transform-style: preserve-3d;
}

.welcome-box {
    box-shadow: 5px 10px 10px grey;
    height: 100px;
    padding-top: 20px;
    font-weight: bold;
    border-radius: 0px;
    background-color: #173e43;
}

.resetPass-inputs {
    border: 2px rgb(0, 125, 255) solid;
    border-radius: 17px;
    width: 300px;
    height: 35px;
    padding-left: 20px;
    padding-bottom: 2px;
}

.resetPass-buttons {
    border: 2px rgb(0, 125, 255) solid;
    background: rgb(0, 125, 255);
    border-radius: 15px;
    width: 100px;
    height: 30px;
}

.inputWithIcon input[type=text],
.inputWithIcon input[type=email],
.inputWithIcon input[type=number],
.inputWithIcon input[type=password],
.inputWithIcon input[type=date],
.inputWithIcon textarea {
    padding-left: 40px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding-left: 13px;
    padding-top: 2px;
    color: rgb(0, 125, 255);
    transition: 0.3s;
}

.inputWithIcon input[type=text]+i {
    color: dodgerblue;
}

.showtime-datepicker {
    background: transparent;
    border: 1px #5cb85c solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60%;
    height: 40px;
    margin-bottom: 3px;
    padding: 5px 10px;
    color: white;
    opacity: 0.9;
}

.showtime-datepicker:hover,
.showtime-datepicker i:hover {
    background-color: #5cb85c;
    color: white;
}

.poster {
    width: 100%;
    border: 2px rgb(0, 125, 255) solid;
    border-radius: 7px;
    height: 700px;
    margin-top: 15px;
}

.header-section {
    padding-bottom: 30px;
    background-color: black;
    border-bottom: 1px rgb(0, 125, 255) solid;
    outline: none;
    height: 80px;
}

.header-section a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    text-align: right;
}

.header-section a:hover {
    color: rgb(0, 125, 255);
}

.header-section a:active {
    color: rgb(0, 125, 255);
}

.search-box input[type=text] {
    padding-left: 40px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding-left: 13px;
    padding-top: 2px;
    color: rgb(0, 125, 255);
    transition: 0.3s;
}

.inputWithIcon input[type=text]+i {
    color: dodgerblue;
}

.search-button {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 20px;
    margin-left: 0px;
    width: 65px;
    height: 30px;
    border: 1px rgb(0, 125, 255) solid;
    border-radius: 15px;
    background-color: rgb(0, 125, 255);
    color: white;
    outline: none;
}

.search-button :active {
    outline: none;
}

.nav-area {
    background-color: black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 5px 10px 10px grey;
}

.nav-area ul {
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

.nav-area li {
    margin: 0;
    padding-top: 20px;
    display: inline;
}

.nav-area li a {
    color: white;
    padding-bottom: 2px;
}

.nav-area li a:hover {
    color: rgb(0, 125, 255);
    transition: 0.3s;
}

.nav-area li a:active {
    color: rgb(0, 125, 255);
}

.nav-area ul li:nth-child(1) {
    float: left;
}

.nav-area ul li:nth-child(2) {
    float: left;
}

.nav-area ul li:nth-child(3) {
    float: right;
}

.nav-area ul li:nth-child(4) {
    float: right;
}

.nav-area ul li:nth-child(5) {
    float: right;
}

input,
button,
a,
a:active,
a:focus {
    outline: none;
}

.my-footer {
    border-bottom: 1px rgb(0, 125, 255) solid;
    margin: 0 auto;
    background-color: black;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.my-footer li {
    list-style-type: none;
    opacity: 0.8;
    font-size: 16px;
    padding-right: 70px;
}

.my-footer li:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
}

.my-footer li:nth-child(2) {
    opacity: 1;
}

.my-footer li:nth-child(3) {
    color: rgb(0, 125, 255);
}

.my-footer-ending {
    background-color: black;
    padding-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 10px grey;
    border: 1px black solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.my-footer-ending li {
    list-style-type: none;
    display: inline-flex;
    align-items: flex-end;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.my-footer-ending a {
    text-decoration: none;
    font-size: 22px;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-attachment: #2c3e50;
    color: rgb(0, 125, 255);
    transition: 0.2s;
}

.my-footer-ending a i {
    transition: 0.2s all;
}

.my-footer-ending a:hover {
    color: darkorange;
    text-decoration: none;
}

.stores {
    margin-right: 80px;
}

.stores button {
    width: 25%;
    height: 30px;
    padding-left: 3px;
    padding-right: 90px;
    padding-top: 2px;
    border-radius: 2px;
    transition: 0.3s;
}

.stores button:hover {
    background-color: darkorange;
    border-color: darkorange;
    transition: 0.3s;
}

.stores a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: 0.3s;
}

.stores li:nth-child(1) {
    margin-right: 60px;
}

.developers-tag span {
    margin: 0;
    padding-top: 5px;
    font-size: 16px;
    font-weight: normal;
    font-family: Opificio;
    color: white;
    opacity: 0.7;
    text-align: center;
    text-justify: auto;
}

.developers-tag span:hover {
    color: darkorange;
    opacity: 1;
    transition: 0.5s;
    font-size: 20px;
}

.developers-tag span:hover ::after {
    transition: 0.5s;
    color: darkorange;
}

.food-head {
    background-color: rgb(0, 125, 255);
    text-align: left;
    color: white;
    border: 1px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.sign-in-title {
    font-family: Showtime;
}

.registration-title {
    font-family: Showtime;
}

.welcome-to-profile {
    font-family: Nikodecs;
    font-size: 26px;
}

#showCategoriesBox {
    width: 100%;
    padding-left: 15px;
    padding-right: 5px;
    border: 1px dodgerblue solid;
    border-radius: 5px;
}
#purchaseHistorySection{
    width: 100%;
    margin-top: 50px;
}
#purchaseHistoryTable{
    margin-top: 70px;
    width: 100%;
    height: 250px;
    border: 1px darkgrey solid;
    border-radius: 15px;
}
.profileBtn{
    background-color: #393f4d;
    color: white;
    width: 100%;
    height: 100px;
    outline: none;
    border-style: none;
    box-shadow: 5px 10px 10px gray;
    font-size: 24px;
    transition: transform .2s; 
}
.profileBtn:focus{
    outline: none;
}
.profileBtn:hover{
    transform: scale(1.1);
}